
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@1,300&display=swap');

@font-face{
    font-family: 'Android';
    src:url('./fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

section{
    
    padding-bottom: 4rem;
    padding-top: 4rem;
}

input, textarea {
    margin-bottom: 1rem;
}

body{
    
    background-color: #8dc6f0;
    
}
header{
    
    background-image: linear-gradient(to bottom,  #0a3a5d,  #8dc6f0);
}


.logo{

    margin:5% 0% 0% 15%;
    font-family: "Android";
    font-weight: bolder;
    color: #08083e;
}
.logop{
    margin-left: 15%;
    font-family: "Android", cursive;
}
.col-md-5{
    margin-left: 15%;
}

.card{
   width: 30%;
   float:left;
   margin:10px;
   padding: 10px;
}
.class-body{
    margin: 5px;
}
.col{
     margin-right: 3%; 
}
.dif{
    font-family: 'Work Sans', sans-serif;;
    font-weight: bolder;
    color: #040456;
}
.letra{
    font: 1.5em sans-serif;
}
#modal-1, #modal-2, #modal-3 {
    padding: 1% 15%;
    background-color: #0e639fae;
 
}
